@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@font-face {
	font-family: "Gmarket_L";
	src: url("../font/GmarketSansLight.otf");
}
@font-face {
	font-family: "Gmarket_M";
	src: url("../font/GmarketSansMedium.otf");
}
@font-face {
	font-family: "Gmarket_B";
	src: url("../font/GmarketSansBold.otf");
}
@font-face {
	font-family: "FRADMCN";
	src: url("../font/FRADMCN.ttf");
}
@font-face {
	font-family: "FRADMIT";
	src: url("../font/FRADMIT.TTF");
}
@font-face {
	font-family: "Pretend_R";
	src: url("../font/Pretendard-Regular.otf");
}
@font-face {
	font-family: "Pretend_M";
	src: url("../font/Pretendard-Medium.otf");
}
@font-face {
	font-family: "Pretend_B";
	src: url("../font/Pretendard-Bold.otf");
}
@font-face {
	font-family: "Tmon_M";
	src: url("../font/TmonMonsori.otf.otf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
ol,
ul,
li {
	list-style: none;
}
body {
	overflow-x: hidden;
}
h2 {
	font: 75px "FRADMCN", sans-serif;
	color: #ff5484;
	text-align: center;
	margin-top: 110px;
}
.sub_title {
	font: 20px "Pretend_M", sans-serif;
	color: #787878;
	text-align: center;
	margin: 15px 0 90px 0;
}

header {
	width: 100%;
	height: 115px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3;
	background: transparent;
}
header .header_background {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 0;
	background: #f986bd;
	transition: 0.3s all;
}

header:hover .header_background {
	height: 115px;
}
/* header .inner .header_logo a {
	display: inline-block;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../img/logo.png");
}
header:hover .inner .header_logo a {
	background-image: url("../img/logo_w.png");
} */

header:hover .inner .header_logo a img {
	display: none;
}
header:hover .inner .header_logo a {
	display: inline-block;
	width: 256px;
	height: 100px;
	background: url("../img/logo_w.png") no-repeat center;
}

header .inner {
	width: 1400px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	position: relative;
	align-items: center;
}

header .inner .header_logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

header .inner .gnb {
	height: 100%;
}

header .gnb .menu {
	width: 100%;
	height: 100%;
	display: flex;
}
header .gnb .menu .menu_list {
	height: 100%;
	font: 21px "FRADMCN", sans-serif;
	color: #393939;
	margin: 0 45px 0 0;
	display: flex;
	align-items: center;
}
header .gnb .menu .menu_list a {
	color: #000;
	transition: 0.3s color;
}
header:hover .gnb .menu .menu_list > a {
	color: #fff;
}
header:hover .gnb .menu .menu_list > a:hover {
	color: #000;
}
header .gnb .menu .menu_list .sub_menu {
	display: none;
	position: fixed;
	top: 115px;
	left: 0;
	width: 100vw;
	height: 150px;
	background: #ffffff;
	transition: 0.3s top;
}
header .gnb .menu .menu_list .sub_menu .sub_menu_list {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 30px;
	height: 100%;
	width: 1400px;
	margin: 0 auto;
	padding: 20px 0;
}
header .gnb .menu .menu_list .sub_menu .sub_menu_list .sub li a:hover {
	color: #f986bd;
}

header .gnb .menu .menu_list .sub_menu .sub_menu_list li {
}

header .gnb .menu .menu_list .sub_menu .sub_menu_list li a {
	font: 25px "Pretend_M", sans-serif;
	color: #282828;
}
header .gnb .menu .menu_list .sub_menu .sub_menu_list li a:hover {
	color: #f986bd;
}

header .gnb .menu .menu_list:hover > .sub_menu {
	display: block;
}
header .gnb .menu .menu_list .sub_menu .sub_menu_list .sub_menu_divider {
	background: #c6c6c6;
	height: 100%;
	width: 1px;
}

header .gnb .menu .menu_list .sub_menu .sub_menu_list .sub {
	display: flex;
	margin-top: 30px;
	gap: 40px;
}
header .gnb .menu .menu_list .sub_menu .sub_menu_list .sub li {
}
header .gnb .menu .menu_list .sub_menu .sub_menu_list .sub li a {
	font: 20px "Pretend_M", sans-serif;
	color: #8e8e8e;
}

header .inner .side_menu {
}
header .inner .side_menu .button {
	display: flex;
}
header .inner .side_menu .button li {
	padding-left: 20px;
}
header .inner .side_menu .button .search {
	position: relative;
}
header .inner .side_menu .button .search::before {
	position: absolute;
	bottom: 0;
	right: 0;
	content: "";
	display: block;
	width: 210px;
	height: 2px;
	background: #f06eaa;
}

header.active,
header:hover {
	background: #f986bd;
	transition: 0.3s all;
}
header:hover .inner .header_logo a img,
header.active .inner .header_logo a img {
	display: none;
}
header:hover .inner .header_logo a,
header.active .inner .header_logo a {
	display: inline-block;
	width: 256px;
	height: 100px;
	background: url("../img/logo_w.png") no-repeat center;
}
header:hover .gnb .menu .menu_list > a,
header.active .gnb .menu .menu_list > a {
	color: #fff;
}

header:hover .gnb .menu .menu_list:hover > a,
header.active .gnb .menu .menu_list:hover > a {
	color: #000;
}

header:hover .inner .side_menu .button .search img,
header.active .inner .side_menu .button .search img {
	display: none;
}

header:hover .inner .side_menu .button .search,
header.active .inner .side_menu .button .search {
	display: inline-block;
	width: 36px;
	height: 36px;
	background: url("../img/icon/search_h.png") no-repeat center;
	margin-right: 20px;
}

header:hover .inner .side_menu .button .user img,
header.active .inner .side_menu .button .user img {
	display: none;
}

header:hover .inner .side_menu .button .user,
header.active .inner .side_menu .button .user {
	display: inline-block;
	width: 36px;
	height: 36px;
	background: url("../img/icon/user_h.png") no-repeat center;
}

header:hover .inner .side_menu .button .search::before,
header.active .inner .side_menu .button .search::before {
	position: absolute;
	bottom: 0;
	right: 0;
	content: "";
	display: block;
	width: 210px;
	height: 2px;
	background: #fff;
}

.main {
}
.main img {
	width: 100%;
}
.main .main_slide {
	width: 100%;
	height: 1000px;
	overflow: hidden;
}
.main .main_slide .swiper-wrapper {
}
.main .main_slide .swiper-wrapper .swiper-slide {
}
.main_slid .main_img01 {
}

.main_slide .main_img01 .text_box {
}
.main_slide .main_img01 .text_box .text {
	position: absolute;
	top: 390px;
	left: 190px;
	animation: slide 1s ease-out;
}
.main_slide .main_img01 .text_box .text li {
	font: 33px "Gmarket_B", sans-serif;
	color: #8f2912;
	text-align: center;
	letter-spacing: -2px;
	line-height: 43px;
}

@keyframes slide {
	from {
		left: -100px;
		opacity: 0;
	}
	to {
		left: 190px;
		opacity: 1;
	}
}

.main_slide .main_img02 {
}

.main_slide .main_img02 .text_box {
}
.main_slide .main_img02 .text_box .text {
	position: absolute;
	top: 220px;
	left: 220px;
	animation: slide2 1s ease-out;
}

.main_slide .main_img02 .text_box .text li:first-child {
	font: 80px/1 "Tmon_M", sans-serif;
	color: #8b564b;
	padding-bottom: 30px;
}
.main_slide .main_img02 .text_box .text li:nth-of-type(2) {
	font: 75px/1 "Gmarket_B", sans-serif;
	color: #59bcad;
	padding-bottom: 30px;
}
.main_slide .main_img02 .text_box .text li:nth-of-type(3),
.main_slide .main_img02 .text_box .text li:nth-of-type(4) {
	font: 27px/1 "Gmarket_M", sans-serif;
	color: #5c5c5c;
	line-height: 38px;
}

@keyframes slide2 {
	from {
		left: -300px;
		opacity: 0;
	}
	to {
		left: 220px;
		opacity: 1;
	}
}

.main_slide .main_img03 {
}

.main_slide .main_img03 .text_box {
}
.main_slide .main_img03 .text_box .text {
	position: absolute;
	top: 220px;
	left: 220px;
	animation: slide2 1s ease-out;
}

.main_slide .main_img03 .text_box .text li:first-child {
	font: 80px/1 "Tmon_M", sans-serif;
	color: #8b564b;
	padding-bottom: 30px;
}
.main_slide .main_img03 .text_box .text li:nth-of-type(2) {
	font: 75px/1 "Gmarket_B", sans-serif;
	color: #59bcad;
	padding-bottom: 30px;
}
.main_slide .main_img03 .text_box .text li:nth-of-type(3) {
	font: 27px/1 "Gmarket_M", sans-serif;
	color: #5c5c5c;
	padding-bottom: 35px;
}
.main_slide .main_img03 .text_box .text li:nth-of-type(4),
.main_slide .main_img03 .text_box .text li:nth-of-type(5) {
	font: 27px/1 "Gmarket_M", sans-serif;
	color: #fed327;
	line-height: 38px;
}
@keyframes slide3 {
	from {
		left: -300px;
		opacity: 0;
	}
	to {
		left: 220px;
		opacity: 1;
	}
}

.promotion {
	margin-bottom: 188px;
	overflow: hidden;
}
.promotion .container {
}
.main_promotion {
	width: 1600px;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 40px;
}
.main_promotion .swiper-wrapper {
}
.main_promotion .swiper-wrapper .swiper-slide {
	display: flex;
	justify-content: center;
}
.main_promotion .swiper-wrapper .swiper-slide .promotion_contents {
	width: 360px;
	display: flex;
}
.main_promotion .swiper-wrapper .swiper-slide .promotion_contents .event .date {
	color: #ff759c;
	text-align: left;
	border-bottom: 2px solid #ff759c;
	padding-bottom: 30px;
	margin-top: 30px;
}

.main_promotion .swiper-wrapper .swiper-slide .promotion_contents .event .text {
	font: 19px/1 "Gmarket_M", sans-serif;
	color: #595959;
	text-align: left;
	line-height: 30px;
	margin-top: 30px;
	word-break: keep-all;
}

.main_promotion .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	position: relative;
	bottom: -40px;
}

.New_Item {
}
.New_Item .container {
	width: 100%;
	height: 1200px;
	background: #ffe4ea;
}
.New_Item .container h2 {
	padding-top: 110px;
}
.New_Item .container .BR_items {
	width: 1600px;
	margin: 0 auto;
	overflow: hidden;
}
.New_Item .container .BR_items .item {
	display: flex;
	gap: 20px;
}
.New_Item .container .item .new_box1 {
	width: 460px;
	height: 650px;
	background: #d5b9ab;
	border-radius: 25px;
	position: relative;
}
.New_Item .container .item .new_box1 .new_title {
	font: 23px "Pretend_B", sans-serif;
	color: #310c04;
	position: absolute;
	top: 31px;
	left: 26px;
}
.New_Item .container .item .new_box {
	background: #fff;
	width: 550px;
	height: 315px;
	border-radius: 25px;
	position: relative;
}
.New_Item .container .item .item_box {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% - 480px);
	gap: 20px;
}
.New_Item .container .item .item_box .new_box .button {
	border-radius: 50%;
	width: 63px;
	height: 63px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.New_Item .container .item .item_box .new_box .button::before {
	font-family: "Font Awesome 5 Free";
	content: "\f061";
	display: inline-block;
	font-weight: 900;
	font-size: 40px;
}

.New_Item .container .item .item_box .new_box .button.brown_button {
	background-color: #310c04;
}
.New_Item .container .item .item_box .new_box .button.pink_button {
	background-color: #f7a7bf;
}
.New_Item .container .item .item_box .new_box .button.red_brown_button {
	background-color: #ecc562;
}
.New_Item .container .item .item_box .new_box .button.beige_button {
	background-color: #ede0d4;
}
.New_Item .container .item .item_box .new_box .button.light_yellow_button {
	background-color: #fff4c8;
}
.New_Item .container .item .new_box .new_box2 {
	width: 275px;
	height: 315px;
	background: #eac2a9;
	border-radius: 25px;
}
.New_Item .container .item .new_box .new_title {
	font: 23px "Pretend_B", sans-serif;
}
.New_Item .container .item .new_box .new_box2 .new_title {
	color: #5a2e1f;
	position: absolute;
	top: 45px;
	right: 77px;
}

.New_Item .container .item .new_box3 {
	width: 275px;
	height: 315px;
	background: #e9c4bc;
	border-radius: 25px;
}
.New_Item .container .item .new_box .new_title {
	font: 23px "Pretend_B", sans-serif;
	color: #5a2e1f;
	position: absolute;
	top: 45px;
	left: 305px;
	word-break: keep-all;
}

.New_Item .container .item .new_box4 {
	width: 275px;
	height: 315px;
	background: #ecd9d3;
	border-radius: 25px;
}
.New_Item .container .item .new_box .new_title {
	font: 23px "Pretend_B", sans-serif;
	color: #5a2e1f;
	word-break: keep-all;
}

.New_Item .container .item .new_box5 {
	width: 275px;
	height: 315px;
	background: #fbddc0;
	border-radius: 25px;
}
.New_Item .container .item .new_box .new_title {
	font: 23px "Pretend_B", sans-serif;
	color: #5a2e1f;
	word-break: keep-all;
}

.New_Item .container .item .new_box6 {
	width: 460px;
	height: 650px;
	background: #f8d77a;
	border-radius: 25px;
	position: relative;
	top: 0;
	left: 0;
}
.New_Item .container .item .new_title {
	font: 23px "Pretend_B", sans-serif;
	color: #b77b22;
	position: absolute;
	top: 31px;
	left: 26px;
}
.New_Item .container .item .new_box .new_box7 {
	width: 275px;
	height: 315px;
	background: #ecdbd4;
	border-radius: 25px;
}

.New_Item .container .item .new_box .new_title {
	font: 23px "Pretend_B", sans-serif;
	color: #f7a7bf;
}

.New_Item .container .item .new_box8 {
	width: 275px;
	height: 315px;
	background: #fff8e6;
	border-radius: 25px;
}
.New_Item .container .item .new_box .new_title {
	font: 23px "Pretend_B", sans-serif;
	color: #ecc562;
	word-break: keep-all;
}

.New_Item .container .item .new_box9 {
	width: 275px;
	height: 315px;
	background: #f9eed2;
	border-radius: 25px;
	/* margin-right: 20px; */
}
.New_Item .container .item .new_box .new_title {
	font: 23px "Pretend_B", sans-serif;
	color: #843e19;
	word-break: keep-all;
}

.New_Item .container .item .new_box10 {
	width: 275px;
	height: 315px;
	background: #faf3d6;
	border-radius: 25px;
}
.New_Item .container .item .new_box .new_title {
	font: 23px "Pretend_B", sans-serif;
	color: #81583c;
	word-break: keep-all;
}

.BR_Play {
}
.BR_Play .container {
	width: 100%;
	height: 1200px;
	background: url("../img/brplay/bg_play.jpg") repeat-x;
}
.BR_Play .container h2 {
	color: #37110e;
	padding-top: 110px;
	margin-top: 0;
}
.BR_Play .container .sub_title {
	color: #37110e;
}

.BR_Play .container .be-play_list {
	width: 1100px;
	margin: 0 auto;
}
.BR_Play .container .be-play_list .play_item {
	display: flex;
}
.BR_Play .container .be-play_list .play_item .list_item1 {
	margin-right: 58px;
}
.BR_Play .container .be-play_list .play_item .list_item2 {
	margin-right: 0;
}

.Be_Better {
}
.Be_Better .container {
	width: 100%;
	height: 1200px;
	background: #f4e8df;
}
.Be_Better .container h2 {
	padding-top: 110px;
	margin-top: 0;
}
.Be_Better .container .Be_Better_contents {
	width: 1400px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.Be_Better .container .Be_Better_contents .more {
	width: 73px;
	height: 26px;
	border-radius: 20px;
	border: 1px solid #acacac;
	position: absolute;
	top: 143px;
	left: 430px;
}
.Be_Better .container .Be_Better_contents .more:hover {
	background: #ff5484;
	border: none;
	cursor: pointer;
}
.Be_Better .container .Be_Better_contents .more p {
	font: 15px "Pretend_R", sans-serif;
	color: #acacac;
	text-align: center;
	line-height: 26px;
}
.Be_Better .container .Be_Better_contents .more p:hover {
	color: #fff;
	cursor: pointer;
}

.Be_Better .container .Be_Better_contents .Be_Better_farm {
	position: relative;
}
.Be_Better .container .Be_Better_contents .Be_Better_farm:first-child {
	padding: 0 20px 20px 0;
}
.Be_Better .container .Be_Better_contents .Be_Better_farm .title {
	position: absolute;
	top: 50px;
	right: 118px;
	font: 31px "Pretend_B", sans-serif;
	color: #81583c;
}
.Be_Better .container .Be_Better_contents .Be_Better_farm .text {
	position: absolute;
	top: 98px;
	right: 76px;
	font: 22px "Pretend_B", sans-serif;
	color: #6a6a69;
}
.Be_Better .container .Be_Better_contents .Be_Better_dream {
	position: relative;
}
.Be_Better .container .Be_Better_contents .Be_Better_dream .title {
	position: absolute;
	top: 50px;
	right: 74px;
	font: 31px "Pretend_B", sans-serif;
	color: #fd565a;
}
.Be_Better .container .Be_Better_contents .Be_Better_dream .text {
	position: absolute;
	top: 98px;
	right: 42px;
	font: 22px "Pretend_B", sans-serif;
	color: #6a6a69;
}

.Be_Better .container .Be_Better_contents .Be_Better_link {
	position: relative;
}
.Be_Better .container .Be_Better_contents .Be_Better_link .title {
	position: absolute;
	top: 50px;
	right: 71px;
	font: 31px "Pretend_B", sans-serif;
	color: #00a000;
}
.Be_Better .container .Be_Better_contents .Be_Better_link .text {
	position: absolute;
	top: 98px;
	right: 38px;
	font: 22px "Pretend_B", sans-serif;
	color: #6a6a69;
}

.BR_Benefit {
}
.BR_Benefit .container {
	width: 100%;
}
.BR_Benefit .container .BR_Benefit_contents {
	width: 1600px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 130px;
}
.BR_Benefit .container .BR_Benefit_contents .swiper-wrapper {
}
.BR_Benefit .container .BR_Benefit_contents .swiper-wrapper .swiper-slide {
	display: flex;
}
.BR_Benefit .container .BR_Benefit_contents .swiper-wrapper .swiper-slide img {
}
.BR_Benefit
	.container
	.BR_Benefit_contents
	.swiper-wrapper
	.swiper-slide
	.benefit_box {
	width: 300px;
	height: 300px;
	position: relative;
	margin-right: 24px;
}
.BR_Benefit
	.container
	.BR_Benefit_contents
	.swiper-wrapper
	.swiper-slide
	.benefit_box::after {
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: 0.3s all;
}
.BR_Benefit
	.container
	.BR_Benefit_contents
	.swiper-wrapper
	.swiper-slide
	.benefit_box:hover.benefit_box::after {
	opacity: 1;
}

.BR_Benefit
	.container
	.BR_Benefit_contents
	.swiper-wrapper
	.swiper-slide
	img:last-child {
	margin-right: 0;
}

.BR_Benefit_box {
}
.BR_Benefit_box .container {
	width: 1600px;
	margin: 0 auto;
	margin-bottom: 140px;
}
.BR_Benefit_box .container .contents_box {
	display: flex;
}

.BR_Benefit_box .container .contents_box .Store_contents {
	width: 785px;
	height: 390px;
	position: relative;
	top: 0;
	left: 0;
	margin-right: 130px;
}
.BR_Benefit_box .container .contents_box .Store_contents .Store_title {
	position: absolute;
	top: 0;
	left: 100px;
	font: 55px "FRADMCN", sans-serif;
	color: #ff5484;
	margin: 0;
}
.BR_Benefit_box .container .contents_box .Store_contents .text {
	position: absolute;
	top: 10px;
	left: 263px;
	font: 20px "Pretend_M", sans-serif;
	color: #787878;
	line-height: 24px;
}
.BR_Benefit_box .container .contents_box .Store_contents img {
	position: absolute;
	top: 90px;
	left: 26px;
}
.BR_Benefit_box .container .contents_box .BR_Way {
}
.BR_Benefit_box .container .contents_box .BR_Way_contents {
	width: 685px;
	height: 390px;
	position: relative;
	top: 0;
	left: 0;
}
.BR_Benefit_box .container .contents_box .BR_Way_contents .BR_Way_title {
	position: absolute;
	top: 0;
	left: 0;
	font: 55px "FRADMCN", sans-serif;
	color: #ff5484;
	margin: 0;
}
.BR_Benefit_box .container .contents_box .BR_Way_contents .text {
	position: absolute;
	top: 10px;
	left: 215px;
	font: 20px "Pretend_M", sans-serif;
	color: #787878;
	line-height: 24px;
}

footer {
}
footer .container {
	width: 100%;
	background: #000000;
}
footer .container .ft_menu {
	width: 1600px;
	margin: 0 auto;
	display: flex;
	padding: 35px 0;
	border-bottom: 1px solid #5a5a5a;
}
footer .container .ft_menu li {
	font: 18px "Pretend_R", sans-serif;
	color: #e7e6e6;
	padding-right: 72px;
}
footer .container .ft_menu li:first-child {
	padding-left: 10px;
}
footer .container .ft_menu li:last-child {
	padding-right: 10px;
}

footer .container .site_footer_info {
	width: 1600px;
	margin: 0 auto;
	display: flex;
	padding-top: 73px;
	justify-content: space-between;
	align-items: start;
}
footer .container .site_footer_info .ft_info {
	display: flex;
}
footer .container .site_footer_info .footer_logo {
	padding-right: 110px;
}
footer .container .site_footer_info .text_box {
}
footer .container .site_footer_info .text_box ul {
}

footer .container .site_footer_info .footer_info_text {
	font: 22px "Pretend_R", sans-serif;
	color: #656565;
	padding-bottom: 17px;
}
footer .container .site_footer_info .footer_side_menu {
}
footer
	.container
	.site_footer_info
	.footer_side_menu
	.ft_relation
	.relation_list {
	display: flex;
}
footer
	.container
	.site_footer_info
	.footer_side_menu
	.ft_relation
	.relation_list
	.list_item {
}
footer
	.container
	.site_footer_info
	.footer_side_menu
	.ft_relation
	.relation_list
	.list_item
	img {
	padding-left: 40px;
}

footer .container .footer_side_menu .site_footer_sns {
	display: flex;
	padding-top: 138px;
	padding-bottom: 145px;
}
footer .container .footer_side_menu .site_footer_sns .ft_sns .sns_list {
}
footer .container .footer_side_menu .site_footer_sns .ft_sns .sns_list img {
	padding-right: 57px;
}
.footer_side_menu .site_footer_sns .family_site {
	position: relative;
}
.footer_side_menu .site_footer_sns .family_site .family_site_btn {
	font: 13px "Pretend_R", sans-serif;
	color: #373737;
	line-height: 41px;
	position: relative;
	width: 100%;
	border-radius: 20px;
	border: none;
	width: 132px;
	height: 41px;
	border-radius: 20px;
	background: #fff;
	overflow-y: hidden;
	position: relative;
	z-index: 5;
}
.footer_side_menu .site_footer_sns .family_site .family_site_btn::after {
	font-family: "fontawesome";
	content: "\f107";
	color: #f26d7d;
	padding-left: 15px;
}
footer .container .site_footer_info .family_site_list {
	overflow: hidden;
	height: 0;
	max-height: 0;
	border-radius: 20px;
	background: #fff;
}

footer .container .site_footer_info .family_site_list li {
	font: 13px "Pretend_R", sans-serif;
	line-height: 35px;
	padding-left: 15px;
}
footer .container .site_footer_info .family_site_list li:hover {
	color: #ff5484;
	font-weight: bold;
}
.footer_side_menu .site_footer_sns .family_site .family_site_btn.on::after {
	content: "\f106";
}
footer .container .site_footer_info .family_site .family_site_list.on {
	display: block;
	bottom: 0;
	height: auto;
	padding: 5px 0 40px;
	max-height: 420px;
	transition: max-height 0.3s ease;
	position: absolute;
	margin: 0px;
}
